.gif-item {
  position: relative;
}

.gif-actions {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.gif-action {
  width: 100%;
  height: 100%;
  background: transparent;
}

.gif-actions.favorited .gif-action {
  background-color: rgba(255, 0, 0, 0.5);
}